<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>

<body>

<div class="container">

    <h2>Register</h2>

    <input
        type="text"
        id="username"
        placeholder="Enter Username"
    >

    <input
        type="email"
        id="email"
        placeholder="Enter Email"
    >

    <input
        type="password"
        id="password"
        placeholder="Enter Password"
    >

    <button onclick="register()">
        Register
    </button>

</div>



</body>
</html>
